---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<!-- <div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
    I am an M.S. student in Computer Science at Yale University, advised by <a href="https://armancohan.com/" target="_blank">Arman Cohan</a> at the YaleNLP group. Previously, I completed my undergraduate studies at NYU, where I worked with <a href="https://sleepinyourhat.github.io/" target="_blank">Sam Bowman</a>'s ARG group, where I still maintain active collaborations. My research centers around posttraining, evaluation, and AI safety.
  </p>
  <p>
    <b>My recent research focuses on:</b>
  </p>
  <ul>
    <li>Improving instruction-following evaluation</li>
    <li>Advancing scalable oversight evaluation</li>
  </ul>
</div> -->
<!-- <div class="docs-section" id="news">
  <h4>Recent News</h4>
  <div class="news-container">
    {% assign current_talks = site.data.news.news | where: "category", "current" %}
    {% for talk in current_talks %}
      <div class="news-item">
        <b>{{ talk.time }}</b>: {{ talk.events }}
      </div>
    {% endfor %}
  </div>
</div> -->

<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Please find all publications on my <a href="https://scholar.google.com/citations?user=KZbOHrUAAAAJ&hl=en" target="_blank">Google Scholar</a>.</p>
  <p>* denotes equal contributions.</p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-sel">Selected and Recent Papers</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>    
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="papers-sel">
      {% assign papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.pap %}
              <a class="button" href="{{ paper.pap }}" target="_blank">Preregistration</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
            {% if paper.hf %}
              <a class="button" href="{{ paper.hf }}" target="_blank">HF</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
          <p><i>{{ paper.extra_venue }}</i></p>
          {% if paper.award %}
            <p><b style="color:#4682b4">{{ paper.award }}</b></p>
          {% endif %}
          {% if paper.news %}
            <p><b style="color:#4682b4">{{ paper.news }}</b></p>
          {% endif %}
           <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>

    <!-- All PAPERS -->
    <div class="tab-pane" id="papers-all">
      {% assign papers = site.data.publications.papers %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.pap %}
              <a class="button" href="{{ paper.pap }}" target="_blank">Preregistration</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
            {% if paper.hf %}
              <a class="button" href="{{ paper.hf }}" target="_blank">HF</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
          <p><i>{{ paper.extra_venue }}</i></p>
          {% if paper.award %}
          <p><b style="color:#4682b4">{{ paper.award }}</b></p>
          {% endif %}
          {% if paper.news %}
            <p><b style="color:#4682b4">{{ paper.news }}</b></p>
          {% endif %}
          <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>
    
    <div class="docs-section" id="ack">
      <h5>People Empowering Me</h5>
      <ul>
        <li>My family</li>
        <li>Prof Arman Cohan, Prof Sam Bowman, Dr. Tomasz Korbak, Yixin Liu</li>
      </ul>

    <div class="docs-section" id="cite">
    <h5>Acknowledgement</h5>
    <p>
      This website uses the website design and template by <a href="https://rosewang2008.github.io/"> Rose Wang</a> and <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>
    </p>

</div>
